modules = ["web", "nodejs-23"]

[nix]
channel = "stable-24_05"
packages = ["nix-output-monitor"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Check Type"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test Coverage"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Linter & Formatter"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"




[[workflows.workflow]]
name = "Cleaner"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run clean:all"


[[workflows.workflow]]
name = "Check Type"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run type-check"

[[workflows.workflow]]
name = "Test Coverage"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run test:coverage"

[[workflows.workflow]]
name = "Linter & Formatter"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run fix:all"

[[workflows.workflow]]
name = "Server"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000


